.video {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
    top: 0;

}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);

}

.hero-title {
    color: #f8f8f8;
    text-transform: uppercase;
    font-weight: 800 !important;
    font-size: 6rem !important;
}

.link {
    text-decoration: none;    
}


.btn-vitals {
    color: #000!important;
    background-color: #e9af4a !important;    
    font-weight: 800 !important;
    margin: 40px 10px 0px 10px !important;
}

.btn-vitals:hover {
    background-color: #ecab3b !important;    
    transform: scale(1.08);
    transition: 10ms ease-in-out;
}


@media only screen and (max-width: 788px) {
    
    .hero-title {
        font-size: 5rem !important;
    }

  }

@media only screen and (max-width: 659px) {
    
    .hero-title {
        font-size: 4rem !important;
    }

  }

@media only screen and (max-width: 459px) {
    
    .hero-title {
        text-align: center !important;
        font-size: 3.5rem !important;
    }

    .hero-btns {
        display: flex !important;
        flex-wrap: wrap !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    

  }
