body {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url("../page-images/landslides-homepage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  @media screen and (max-width: 468px) {
    
      .title span{
          font-size: 2.5rem;
      }
 
  }