
body {
    background-color: rgb(0, 0, 0);
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)), url('../page-images/vitals.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.vitals-title{
    display: flex !important;
    text-transform: uppercase;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 800;
    color: #e3b86f !important;
    font-size: 6rem;
    height: 60vh;  
}

/* e3b86f */
.vitals-img{
    width: 400px !important;
    height: 400px !important;
    border-radius: 50%;
    padding: 2rem;
    border: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.vitals-img:hover {
    transform: scale(1.05);
    transition: 20ms ease-out;
}

.vitals-list {
    margin-top: 50px;
    padding: 50px;
}

.text-wrapper h4{
    text-align: center;
    color:  #e3b86f;
    font-size: 2rem;
    margin: 30px;
    text-transform: uppercase;
}

.grid {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}


@media only screen and (max-width: 1196px) {
    .vitals-img{
        width: 300px !important;
        height: 300px !important;
    }
    
    .text-wrapper h4 {
        font-size: 1.5rem !important;
    }
  }


  @media only screen and (max-width: 1410px) {
    .vitals-img{
        width: 255px !important;
        height: 255px !important;
        padding: 0.7rem;
    }
    
    .text-wrapper h4 {
        font-size: 1.5rem;
    }

    .vitals-title {
        font-size: 5rem;
    }
  } 

@media only screen and (max-width: 900px) {
    .vitals-img{
        width: 300px !important;
        height: 300px !important;
    }

    .vitals-title {
        font-size: 4rem;
    }
    

    .text-wrapper h4{
        font-size: 2rem;
    }
    
  }

  @media only screen and (max-width: 369px) {
    .vitals-img{
        width: 200px !important;
        height: 200px !important;
    }

    .vitals-title {
        font-size: 2rem;
    }

    .text-wrapper h4{
        font-size: 1.2rem;
    }
    
  }


