body {
    background-color: #000 !important;
    color: #f8f8f8;

}

.loading img{
    margin: 0 auto;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 20rem;
}



@media screen and (max-width: 468px) {
   .loading img {
       font-size: 2rem;
   }
  }
  