body {
    background-color: black !important;
    color: #f8f8f8;

}

.loading h1{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 25rem;
    font-size: 4rem
}



@media screen and (max-width: 468px) {
   .loading h1 {
       font-size: 2rem;
   }
  }
  