
 .navbar {
    background-color: rgba(0, 0, 0, 0.7)!important;
    color: #f8f8f8 !important;
}

.navbar-logo {
    width: 80px;
    height: 80px;
    padding: 0.8rem;
}

.navbar-container{
    margin-left: auto !important;
    border: none !important;
}

.navbar-item {
    color: #f8f8f8 !important;
    text-decoration: none !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 1.5rem !important;
}

.navbar-item:hover {
    color: #e9af4a !important;
    transform: scale(1.08);
    transition: 10ms ease-in-out;
}


@media only screen and (max-width: 900px) {
    .navbar-logo {
        width: 60px;
        height: 60px;
    }
  }
  

.hamburger {
    color: #fff !important;
    margin-left: auto !important;
}


.sidebar .list{
    background-color: black;
    height: 100%;
}

.sidebar .list .list-item {
    color: #f8f8f8;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300 !important;
}

.sidebar .list .list-item:hover {
    color: #e9af4a !important;
    transform: scale(1.08) !important;
    transition: 10ms ease-in-out !important;
}