
 .navbar {
    background-color: black !important;
    color: white !important;
}

.navbar-logo {
    width: 80px;
    height: 80px;
}

.navbar-container{
    margin-left: auto !important;
}

.navbar-item {
    color: #fff !important;
    text-decoration: none !important;
    font-size: 18px !important;
}

.hamburger {
    color: #fff !important;
    margin-left: auto !important;
}

@media only screen and (max-width: 900px) {
    .navbar-logo {
        width: 60px;
        height: 60px;
    }
  }
  